<div class="container-fluid">
    <div class="row">
        <mat-toolbar color="accent" class="app-header">
            <div class="logo-image"> </div>
            <div id="writing">
                <p><strong> BOLT TO YOUR DESTINATION </strong></p>
            </div>
        </mat-toolbar>
    </div>>
</div>
 
<div id="action">
    <h3>Nearest Stations from your Destination</h3>
</div>


<!-- <div *ngIf="check" ></div> -->
<div class="container-fluid">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
        <!-- <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let station"> {{station.id}} </td>
        </ng-container> -->

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> <h5>Stations</h5> </th>
            <td mat-cell *matCellDef="let station" (click)="navigate(station.name, 
                station.latitude, station.longitude)"> {{station.name}} </td>
        </ng-container>    

        <ng-container matColumnDef="travelDistance">
            <th mat-header-cell *matHeaderCellDef> <h5>Distance from your entered destination</h5> </th>
            <td mat-cell *matCellDef="let station" (click)="navigate(station.name, 
                station.latitude, station.longitude)"> {{station.travelDistance}} km </td>
        </ng-container>

        <!-- <ng-container matColumnDef="travelDuration">
            <th mat-header-cell *matHeaderCellDef> Travel Duration </th>
            <td mat-cell *matCellDef="let station" (click)="navigate(station.latitude, 
            station.longitude)"> {{station.travelDuration}} min. </td>
        </ng-container> -->
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
</div>

<div class="container" id="back">
    <a mat-raised-button (click)="back()" color="accent" class="btn-block"><strong>Back</strong></a>
</div>


<!-- <div *ngFor= "let a of dataSource"> 
    {{a.travelDistance}}
</div> -->
  
  