/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


html, body { height: 100%; }
body { margin: 0; }
* {
    font-family: 'Quicksand'/* Replace with your custom font */
    , sans-serif !important;
    /* Add !important to overwrite all elements */
}

